# Zsh Compile Files
*.zwc

# Git 
git/user
hub

# Vim
vim/autoload/plug.vim

# VS Code
Code/Backups
Code/Cache
Code/CachedData
Code/CachedExtensions
Code/Code
Code/Local Storage
Code/GPUCache
Code/logs
Code/User/globalStorage/
Code/User/workspaceStorage
Code/Cookies*
Code/Network Persistent State
Code/storage.json

# general

autostart
configstore
dconf
enchant
evolution
gedit
gnome-games
gnome-session
goa-1.0
google-chrome
gtk-3.0
gtk-4.0
htop
ibus
menus
nautilus
pulse
spotify
update-notifier

gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale

